<div class="header" id="myHeader">
  <div class="row">
    <div class="col_left">Fresh Nesecom</div>
    <div class="col_center">
      <select [(ngModel)]="selectCategory" class="form-control" (ngModelChange)="reloadCatgeory()">
        <option [value]="''">All categories</option>
        <option *ngFor="let cat of categories" [value]="cat" [selected]="cat">{{cat}}
        </option>
      </select>
      <input type="text" class="form-control" placeholder="Search Products,..." [(ngModel)]="inputSearch"
        class="form-control" (ngModelChange)="search()">
    </div>
    <div class="col_right">
      <span class="countStore">{{getCountProducts()}}</span>
      <img src="../assets/imags/store-solid.svg" alt="Kiwi standing on oval" width="40px">
    </div>
  </div>
  <div class="nav_header">
    <app-nav></app-nav>
  </div>
</div>
<div class="content">
  <section>
    <nav>
    </nav>
    <article class="content">
      <router-outlet></router-outlet>
    </article>
  </section>
</div>